<%= form_with(model: exchange, local: true) do |form| %>
  <% if exchange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exchange.errors.count, "error") %> prohibited this exchange from being saved:</h2>

      <ul>
        <% exchange.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :date_of_gifting %>
    <%= form.date_field :date_of_gifting, min: Date.today %>
  </div>

  <div class="field">
    <%= form.label :date_of_matching %>
    <%= form.date_field :date_of_matching, min: Date.today %>
  </div>

  <div class="field">
    <%= form.label :finish_date %>
    <%= form.date_field :finish_date, min: Date.today %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>