<p id="notice"><%= notice %></p>

<h1>My Exchanges</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Match date</th>
      <th>Gift to</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.members.each do |member| %>
      <tr>
        <td><%= member.exchange.title %></td>
        <td><%= member.exchange.date_of_matching %></td>
        <td><%= member.gift_to %></td>
        <td><%= link_to 'Confirm', "" %></td>
        <td><%= link_to 'Leave', [member.exchange,member,root_redirect: true], method: :delete, data: { confirm: 'Want to Leave?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>All Exchanges</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date of gifting</th>
      <th>Date of matching</th>
      <th>Finish date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exchanges.each do |exchange| %>
      <tr>
        <td><%= link_to exchange.title, exchange %></td>
        <td><%= exchange.date_of_gifting %></td>
        <td><%= exchange.date_of_matching %></td>
        <td><%= exchange.finish_date %></td>
        <% if current_user.id == exchange.user_id %>
        <td><%= link_to 'Edit', edit_exchange_path(exchange) %></td>
        <td><%= link_to 'Destroy', exchange, method: :delete, data: { confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exchange', new_exchange_path %>


