<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @exchange.title %>
</p>

<p>
  <strong>Created by:</strong>
  <%= User.find(@exchange.user_id).name %>
</p>

<p>
  <strong>Date of gifting:</strong>
  <%= @exchange.date_of_gifting %>
</p>

<p>
  <strong>Date of matching:</strong>
  <%= @exchange.date_of_matching %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @exchange.finish_date %>
</p>

<% if current_user.id == @exchange.user_id %>
<td><%= link_to 'Members', exchange_members_path(@exchange) %></td> |
<% end %>


<%= link_to 'Back', exchanges_path %>
