<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @exchange.title %>
</p>

<p>
  <strong>Created by:</strong>
  <%= User.find(@exchange.user_id).name %>
</p>

<p>
  <strong>Number of members:</strong>
  <%= @exchange.members.size %>
</p>

<% if current_user.id == @exchange.user_id %>
<td><%= link_to 'Members', exchange_members_path(@exchange) %></td> |
<% end %>


<%= link_to 'Back', exchanges_path %>
