<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @exchange.title %>
</p>

<p>
  <strong>Date of gifting:</strong>
  <%= @exchange.date_of_gifting %>
</p>

<p>
  <strong>Date of matching:</strong>
  <%= @exchange.date_of_matching %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @exchange.finish_date %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
