<p id="notice"><%= notice %></p>

<p>
  <strong>Name : </strong>
  <%= @user.name %>
</p>

<p>
  <strong>Interests : </strong>
  <%= @user.interests %>
</p>

<p>
  <strong>Books : </strong>
  <%= @user.books %>
</p>

<p>
  <strong>Movies :</strong>
  <%= @user.movies %>
</p>

<%= link_to 'Back', exchanges_path %>