<div id="clearance">
  <%= form_for @user do |form| %>

  <%= form.label :email %>
  <%= form.text_field :email, :readonly => true %>

  <%= form.label :name %>
  <%= form.text_field :name, autofocus: true %>

  <%= form.label :interests %>
  <%= form.text_area :interests %>

  <%= form.label :movies %>
  <%= form.text_area :movies %>


  <%= form.label :books %>
  <%= form.text_area :books %>


  <div class="submit-field">
      <%= form.submit %>
  </div>

  <% end %>
</div>
