<%= form_with(model: subscriber, local: true) do |form| %>
    <%= form.label :EMAIL %>
    <%= form.text_field :sub_email %>
    <%= form.submit "ADD ME" %>

  <% if subscriber.errors.any? %>
    <div id="error_explanation">
      <% subscriber.errors.messages.values.each do |msg| %>
        <%msg.each do  |msg| %>
          <ul>
            <li><%= msg %></li>
          </ul>
        <%end %>
      <% end %>
    </div>
  <% end %>

<% end %>