<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">

      <%= link_to "Gift Exchange", root_path, id: "logo"%>
        <div class="user-nav">
            
      <% if signed_in? %>
        Signed in as: <%= current_user.email %>
        <%= link_to 'Admin Panel', rails_admin_path %>
        <%= link_to 'Sign out', sign_out_path, method: :delete %>

      <% else %>
        <%= link_to 'Sign in', sign_in_path %>
      <% end %>

    </div>
  </div>
</header>