<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Confirmed</th>
      <th>Gift to</th>
      <th>Gift from</th>
      <th>Exchange</th>
      <th>Shipped</th>
      <th>Received</th>
      <th>User Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.email %></td>
        <td><%= member.confirmed %></td>
        <td><%= member.gift_to %></td>
        <td><%= member.gift_from %></td>
        <th><%= member.exchange.title %></th>
        <th><%= member.received %></th>
        <th><%= member.shipped %></th>
        <th><%= member.user.name if member.user %></th>
        <td><%= link_to 'Destroy', [@exchange,member], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_exchange_member_path(@exchange) %>
<%= link_to 'Back', exchange_path(@exchange) %>