<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @member.confirmed %>
</p>

<p>
  <strong>Gift to:</strong>
  <%= @member.gift_to %>
</p>

<p>
  <strong>Gift from:</strong>
  <%= @member.gift_from %>
</p>

<p>
  <strong>Exchange:</strong>
  <%= @member.exchange_id %>
</p>

<%= link_to 'Edit', edit_exchange_member_path(@exchange,member) %> |
<%= link_to 'Back', exchange_member_path(@exchange) %>
